{% load static %}
<!-- <footer class="footer">
    <div class="container-fluid bg-light text-dark mt-5 pt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Contact Us</h6>
                    <p class="font-weight-light">info@ProVision.com</p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <a href="www.facebook.com" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    &nbsp;
                    <a href="www.instagram.com" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    &nbsp;
                    <a href="www.instagram.com" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    &nbsp;
                    <a href="www.instagram.com" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"> 
                    <img src="{% static 'img/logo.jpeg' %}" width="30" height="30" alt="logo">                        </h5>
                        <p style="font-size: 12px">We are proud to provide quality content and product information to our users. There are links on this site that can be defined as “affiliate links”. Encore receives a small commission (at no cost to you) if you purchase something through these links. Encore is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed for sites to earn advertising fees by advertising and linking to amazon.com.  Feel free to reach out to us if you have any questions.</p> 
                </div>
        </div>
    </div>
</footer> -->

<footer>
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-text pull-left">
        </div>
        <div class= "navbar-text pull-right">
    <!-- Add in your social media / github links here -->
            <a href="#">
                <i class="fa fa-github-square fa-2x"></i></a>
        </div>
        <!--Below is the copyright information for the site. You can fill in your own here.-->
        <div class="navbar-text pull-left">
        &copy; Digital Projects Studio, 2015
        </div>
    </div>	
    </footer>